replicaCount: 5

image:
  repository: yourusername/fastapi-hello
  tag: "v2"

resources:
  enabled: true
  limits:
    cpu: 1000m
    memory: 512Mi
  requests:
    cpu: 500m
    memory: 256Mi

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/rate-limit: "100"
  hosts:
    - host: fastapi-highload.local
      paths:
        - path: /
          pathType: Prefix
