POSTGRES_USER=airflow
POSTGRES_PASSWORD=not_a_real_password
POSTGRES_DB=airflow

AIRFLOW_DB_CONN=postgresql+psycopg2://airflow:not_a_real_password@db:5432/airflow

AIRFLOW__CORE__FERNET_KEY=mGf5N2wJ1kXGx4v0N3T0uKQfC9pQv0c4K2a8f1l7b2s=
AIRFLOW__WEBSERVER__SECRET_KEY=not_a_real_secret_key_change_me

AIRFLOW_UID=50000
