POSTGRES_USER=mlflow_user
POSTGRES_PASSWORD=super_fake_password_123
POSTGRES_DB=mlflow_db

MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://mlflow_user:super_fake_password_123@db:5432/mlflow_db
MLFLOW_DEFAULT_ARTIFACT_ROOT=file:///mlruns
