POSTGRES_USER=mlflow_user
POSTGRES_PASSWORD=mlflow_password_change_me
POSTGRES_DB=mlflow_db
POSTGRES_PORT=5432

MLFLOW_DB_USER=mlflow_user
MLFLOW_DB_PASSWORD=mlflow_password_change_me
MLFLOW_DB_HOST=postgres
MLFLOW_DB_PORT=5432
MLFLOW_DB_NAME=mlflow_db

MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts

MLFLOW_PORT=5000
MLFLOW_ALLOWED_HOSTS=0.0.0.0:5000
MLFLOW_SERVER_CORS_ALLOWED_ORIGINS=http://0.0.0.0:5000
